<div class="h-card" style="display: none;">
    <span class="p-name">{{ .Site.Params.author }}</span>
    <span class="p-given-name">{{ .Site.Params.givenName }}</span>
    <span class="p-family-name">{{ .Site.Params.familyName }}</span>
    <a class="u-url" href="{{ .Site.BaseURL }}"></a>
    <img class="u-logo" src="{{ .Site.BaseURL }}logo.png" />
    <div class="p-category">{{ .Site.Params.category }}</div>
    <div class="p-note">{{ .Site.Params.info }}</div>
    <span class="p-sex">{{ .Site.Params.gender }}</span>
</div>