body.colorscheme-dark {
    background-color: #014d4eff;
}

body {
    background-color: #f9f08dff;
}

.center {
    text-align: center;
}

.page {
padding: 2rem 1rem;
}

.e-content {
margin-bottom: 2rem;
}

.category-list, .tag-list {
display: flex;
flex-wrap: wrap;
margin-bottom: 1rem;
}

.category-list span, .tag-list span {
background-color: #f9f08dff; /* Example color */
color: #014d4eff;
padding: 0.5rem 0.75rem;
margin-right: 0.5rem;
border-radius: 4px;
font-size: 0.9em;
}

.category-list span:hover, .tag-list span:hover {
background-color: #e0e0e0; /* Example hover color */
}